boto3
botocore
cohere
cffi
openai
psycopg2-binary
pinecone-client
requests
tiktoken
python-dotenv
pydantic
mysql-connector-python
pymysql
pandas
qdrant-client
singlestoredb
weaviate-client
azure-storage-blob
google-cloud-storage
snowflake-connector-python
stripe
vecs
simple-salesforce
google-generativeai
anthropic
pympler
unstructured[all-docs]
dropbox
zenpy
lancedb
pyyaml
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
unstructured-client
box-sdk-gen
pymongo
neo4j
python-magic
pytest
nltk
pymilvus
